[submodule "lib/device/SEN-SCD30/embedded-scd"]
	path = lib/device/SEN-SCD30/embedded-scd
	url = https://github.com/Sensirion/embedded-scd.git
[submodule "lib/device/LEGO-EV3/ev3dev-c"]
	path = lib/device/LEGO-EV3/ev3dev-c
	url = https://github.com/in4lio/ev3dev-c.git
[submodule "lib/device/SEN-SCD41/embedded-i2c-scd4x"]
	path = lib/device/SEN-SCD41/embedded-i2c-scd4x
	url = https://github.com/Sensirion/embedded-i2c-scd4x.git
[submodule "lib/device/BOSCH-BME280/BME280_driver"]
	path = lib/device/BOSCH-BME280/BME280_driver
	url = https://github.com/BoschSensortec/BME280_driver.git
